.about{
    background-color: #C7D3D4FF;
}
.about h5{
    animation: title 5s linear 5s infinite ;
    
}
@keyframes title {
    25%{
       padding-left: 30%; 
       color:rgb(219, 199, 163);
       
    }
    50%{
        padding-left: 50%;
    }
    75%{
        padding-left: 60%;
        color:black;
    }
    
}
.about .card-title{
    font-family: cursive;
}
.about span::before {
    content: "Hello";
    animation: animate infinite 10s;
    padding-left: 10px;
}

@keyframes animate {

    25% {
        content: "नमस्ते";
    }
    33%{
        content: "Bonjour";
    }
    50% {
        content: "Hola";
    }
    67%{
        content:"Hallo";
    }
    75% {
        content: "Привет";
    }
}