.foot{
    background-color: #343a40;
    color:rgb(219, 199, 163);
}
@keyframes xyz {
    25%{
       color:rgb(219, 199, 163);
       
    }
    75%{
        color:whitesmoke;
    }
    
}
.foot .card-subtitle{
    color:rgb(219, 199, 163);
}

.foot .list-group-item{
    background-color:#343a40;
    border:2px solid rgb(219, 199, 163);
    border-radius: 15px;
}