a{
    font-family: 'Pacifico', cursive;
    color:white;
}
a:hover{
    color:rgb(219, 199, 163);
    animation: rotate 4s ease infinite;
}

@keyframes rotate {
    25%{
        transform: skewX(90deg);
    }
    
    50%{
        transform: skewX(180deg);
    }
    
    75%{
        transform: skewX(270deg);
    }
    
}
.cover1 a{
    animation: hello 1s ease-in-out infinite;
}
@keyframes hello {
    25%{
        opacity:0.8;
    }
    50%{
        opacity: 0.5;
        color:rgb(219, 199, 163);
    }
    75%{
        opacity: 1;
    }
}