a{
    font-family: 'Pacifico', cursive;
    color:white;
}
a:hover{
    cursor:pointer;
}

.cover1 a{
    animation: hello 1s ease-in-out infinite;
}
@keyframes hello {
    25%{
        opacity:0.8;
    }
    50%{
        opacity: 0.5;
        color:rgb(219, 199, 163);
    }
    75%{
        opacity: 1;
    }
}

