.projects h5{
    animation: abc 2s infinite ;
    
}

.papers h5{
    animation: abc 2s infinite ;
    
}
@keyframes abc {
    25%{
        color:rgb(219, 199, 163);
    }
    75%{
        color:black;
    }
    
}
.project a{
    border:2px dotted rgb(219, 199, 163);
    border-radius: 10px;
    padding:10px;
} 
.project a:hover{
    border:2px solid rgb(219, 199, 163);
}