.slider-wrapper {
    font-size: 1.5rem;
    color:rgb(34, 32, 32);
    text-align: center;
    font-family:serif;
  }
  .slider{
    height: 40px;
    padding-left:15px;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 20px;
  }
  .slider div {
    color:#fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
    font-family:cursive;
  }
  .slider-text1 {
    background: lightgreen;
    animation: slide 5s linear infinite;
  }
  .slider-text2 {
    background: skyblue;
    animation: slide 5s linear;
  }
  .slider-text3 {
    background: lightcoral;
    animation: slide 5s linear;
  }
  .slider-text4 {
    background: rgb(81, 165, 85);
    animation: slide 5s linear;
  }
  .slider-text5 {
    background: rgb(199, 138, 235);
    animation: slide 5s linear;
  }
  @keyframes slide {
    0% {margin-top:-300px;}
    5% {margin-top:-200px;}
    33% {margin-top:-200px;}
    38% {margin-top:-100px;}
    66% {margin-top:-100px;}
    71% {margin-top:0px;}
    100% {margin-top:0px;}
  }