@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Mountains+of+Christmas:wght@400;700&family=Pacifico&family=Special+Elite&display=swap');
*{
  scroll-behavior: smooth;
  margin: 0;
  padding:0;
  font-family: 'Special Elite', cursive;
}
body{
  padding-top: 70px;
}
.outro{
  background-color: #343a40;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}
.outro .container {
  margin-top:5%;
  
}
.intro{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  
}
.intro h3{
  color:whitesmoke;
  text-shadow: 3px 1px rgb(219, 199, 163);
}
.intro img{
  border-radius: 60%;
  border:2px solid rgb(219, 199, 163);
}
.intro img:hover{
  border:2px solid whitesmoke;
  cursor: pointer;
}
