*{
  scroll-behavior: smooth;
  margin: 0;
  padding:0;
}
body{
  padding-top: 70px;
}
.outro{
  background-color: #343a40;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.outro .container {
  margin:5%;
  
}
.intro{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.intro h3{
  color:whitesmoke;
  text-shadow: 3px 1px rgb(219, 199, 163);
}
.intro img{
  border-radius: 60%;
  border:2px solid rgb(219, 199, 163);
}
.intro img:hover{
  border:2px solid whitesmoke;
  cursor: pointer;
}
